@import "../../assets/sass/variables.scss";

.review {
  display: flex;
  margin-top: -20vh;
  padding: 25rem 10rem 15rem;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    text-align: center;
    transition: all 0.3s ease;
    padding-bottom: 3rem;

    &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }
  }
  &-read__more-button {
    padding-top: 5rem;
    a {
      text-decoration: none;
      font-size: 1.8rem;
      color: $color-primary-dark;
      position: relative;
      z-index: 10;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2rem;
        bottom: 0;
        z-index: -1;
        left: 0;
        background-color: $color-primary-dark;
        transform-origin: bottom left;
        transition: all 0.3s ease;
      }
      &:hover {
        color: white;

        &:after {
          transform: scaleX(1.1);
        }
      }
    }
  }
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.review-box {
  &__content {
    width: 75%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 20% 80%;
    place-items: center;

    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    background-color: rgba($color-white, 0.6);
    border-radius: 3px;
    padding: 4rem 9rem;
    &:last-of-type {
      margin-top: 8rem;
    }
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__shape {
      width: 15rem;
      height: 15rem;
      transform: translateX(-3rem) skewX(12deg);
      position: relative;
      overflow: hidden;
      border-radius: 50%;

      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none;
      }
    }

    &__img {
      height: 100%;
      transform: translateX(-4rem) scale(1.4);
      backface-visibility: hidden;
      transition: all 0.5s;
    }

    &__text {
      transform: skewX(12deg);

      color: $color-grey-dark-2;
      h3 {
        font-weight: 700;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding-bottom: 1rem;
      }
      p {
        font-weight: 400;
      }
    }

    &__caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      color: $color-white;
      text-transform: uppercase;
      font-size: 1.7rem;
      text-align: center;
      opacity: 0;
      transition: all 0.5s;
      backface-visibility: hidden;
    }

    &:hover &__caption {
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    &:hover &__img {
      transform: translateX(-4rem) scale(1);
      filter: blur(3px) brightness(80%);
    }
  }
}
